.my{
    /* z-index:auto; */
    background-color: aliceblue;
    /* height: 200px;
    width: 200px; */
}
/* .mainappbar{
    
} */
.myappbar{
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    
}